<footer class="bg-light py-5">
    <div class="container">
        <h4>Get the Fresh Cart app</h4>
        <p>we will send you a link , open it on your phone to download the app </p>
        <div class="d-flex">
            <div class="col-sm-10">
                <input type=" text" class="form-control py-2" placeholder="Email">
            </div>
            <div class="col-sm-2 ps-3">
                <button class="btn w-100 text-white bg-main">share app link</button>
            </div>
        </div>
        <div class="line border-bottom border-2 my-4">
        </div>
    </div>

</footer>
